@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #202024;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  margin: 0;
}


.app{
  margin-left: 25%;
  margin-top: 50px;
}

.todo{
  display: flex;
  align-items: center;
}

.todo__inputs{
  margin-bottom: 50px;
  display: flex;
  width: 600px;
}

.task__input{
  border: none;
  font-size: 36px;
  padding: 15px;
  width: 400px;
  border-radius: 10px;
  margin-right: auto;
}

.task__add{
  border: none;
  border-radius: 10px;
  background-color: #EBA572;
  color: white;
  font-weight: bold;
  font-size: 36px;
  padding: 15px;
  cursor: pointer;
  transition: .3s ease all;
  
}

.task__add:hover{
  background-color: #F3B88E;
}

.todo__tasks{
  background-color: #fff;
  color: black;
  height: 460px;
  font-size: 36px;
  border-radius: 10px;
  overflow-y: auto;
  width: 600px;
}

.todo__container{
  padding: 35px;
}

.task{
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.todo__container .task:last-child{
  margin-bottom: 0;
}

.task__title{
  transition: .3s ease all;
}

.task button{
  height: 50px;
  width: 50px;
  cursor: pointer;
  border-radius: 10px;
}

.tasks__empty{
  font-size: 48px;
  font-weight: bold;
  color: gray;
}

.task__check{
  margin-left: auto;
  margin-right: 25px;
  border: 3px solid #8E8E8E;
  background-color: #fff;
  transition: .3s ease all;
}

.task__check:hover{
  border: 3px solid #609637;
}

.task__complete{
  color: #609637;
}

.task__complete .task__check{
  background: url("img/check-mark.png") no-repeat center;
  border: 3px solid #609637;
  background-color: #D5FFB5;
}

.task__delete{
  border: none;
  background-color: #FF7272;
  font-size: 24px;
  font-weight: bold;
  color: white;
  transition: .3s ease all;
}

.task__delete:hover{
  background-color: #FF8C8C;
}

.show__tasks{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.show__tasks button{
  opacity: .75;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  padding: 15px 10px;
  width: 150px;
  cursor: pointer;
  transition: .3s ease all;
  margin-bottom: 15px;
}

.show__tasks button:hover{
  opacity: 1;
}

.show__tasks button.active{
  opacity: 1;
}